<!doctype html>
<html>
  <head>
    <title>Spaceships</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  </head>
  <body>
    <section id="game-intro">
    <header>
      <h1>Spaceships</h1>
    </header>
    <!-- <a id="play" class="button" href="">Play</a> -->
    </section>
    <canvas id="canvas"></canvas>
    <script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/Ship.js"></script>
    <script src="js/Game.js"></script>
  </body>
</html>
